@import '../../variables.scss';

h1 {
    text-align: left;
    
    color: $heading-color;
  }
  
  h2 {
    text-align: left;
    color: $subheading-color;
  }
  
  .outer-div {
    text-align: center;
    margin: auto;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
  }

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
}

span {
  color: #c5c6c7;
  opacity: 0.5;
  margin: 5px;
}

span:hover {
  color: $highlight-color;
  opacity: 1;
  cursor: pointer;
}