@import '../../variables.scss';

@media only screen and (min-width: 600px) {

  .outer-div {
    text-align: center;
    margin: auto;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
  }

  .flex-container {
    width: 50%;
  }


}

h1 {
  text-align: left;
  
  color: $heading-color;
}

h2 {
  text-align: left;
  color: $subheading-color;
  animation-duration: 1s;
}

span {
  color: #c5c6c7;
  opacity: 0.5;
  margin: 5px;
}

span:hover {
  color: $highlight-color;
  opacity: 1;
  cursor: pointer;
}

a {
  text-decoration: none;
 }

 .outer-div {
   margin: 1rem
 }

 .flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  animation-delay: 1.2s;
}

.software {
  animation-delay: 0.3s;
}

.web {
  animation-delay: 0.6s;
}

.photo {
  animation-delay: 0.9s;
}

.video {
  animation-delay: 1.2s;
}