<div class="outer-div">
    <div class="inner-div">
      <h1 class="animated fadeIn">FINN FENTKER</h1>
      <h2 class="animated fadeInDown software">Software Developer</h2>
      <h2 class="animated fadeInDown web">Web Developer</h2>
      <h2 class="animated fadeInDown photo">Photographer</h2>
      <h2 class="animated fadeInDown video">Videographer</h2>
      <div class="flex-container animated fadeInLeft">
        <a href="https://www.xing.com/profile/Finn_Fentker" target="_blank"><span>xing</span></a>
        <a href="https://www.linkedin.com/in/finn-fentker-1432bb164" target="_blank"><span>linkedin</span></a>
        <a href="https://instagram.com/finn_f" target="_blank"><span>instagram</span></a>
        <a href="https://youtube.com/suxxezhd" target="_blank"><span>youtube</span></a>
        <a href="https://github.com/suxxez" target="_blank"><span>github</span></a>
      </div>
    </div>
</div>
